/* home.page.scss */
ion-content {
  --ion-background-color: #D7CDCC;
  padding: 16px;
}

ion-toolbar {
  --background: #725B5A;
  --color: #ffffff;
  border-bottom: none;
  box-shadow: none;
}

.animated-title {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ion-padding-top {
  margin-top: 1rem;
}
